.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.content {
  background-origin: center;
  background-repeat: repeat-x;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
