.header {
  width: 100%;

  ul {
    list-style-type: none;
  }

  @media only screen and (max-width: 960px) {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;

    .menu {
      box-shadow: none;
      padding: 0;
    }

    .parentLink {
      color: #fff;
    }

    .children {
      border: none;
      border-top: none;
    }
  }
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.banner {
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;

  @media only screen and (max-width: 960px) {
    padding: 24px;
  }
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  max-width: 188px;
  outline: none;
  width: 100%;

  .text {
    font-weight: 600;
  }
}

.menu {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
  max-width: var(--page);
  margin: 0 auto 2px;
  padding: 0 36px;
  width: 100%;
}

.list {
  align-items: center;
  display: flex;
}

.parent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &:hover {
    overflow: initial;

    .parentLink {
      color: #5b5b5b;
    }

    .children {
      max-height: 400px;
      top: calc(100% - 2px);
      transition: max-height 650ms ease;
    }
  }
}

.children {
  border: 1px solid #ccc;
  border-top: 4px solid var(--primary-color);
  border-radius: 0 0 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.25px 1.5px, rgba(0, 0, 0, 0.25) 0px 0.25px 1.5px;
  display: flex;
  flex-direction: column;
  left: 0;
  max-height: 0;
  position: absolute;
  top: 100%;
  transition: max-height 650ms ease;
  width: 100%;
}

.parentLink,
.childLink {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.parentLink {
  padding: 16px;
  text-align: center;
}

.childLink {
  padding: 10px 16px;

  &:not(:first-of-type) {
    border-top: 1px solid #ccc;
  }

  &:hover {
    color: var(--primary-color);
  }
}

@media (max-width: 768px) {
}
