.header {
  background-color: var(--primary-color);
  width: 100%;

  ul {
    list-style-type: none;
  }

  @media only screen and (max-width: 960px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px;

    .menu {
      padding: 0;
    }

    .parentLink {
      color: #fff;
    }

    .children {
      border: none;
      border-top: none;
    }
  }

  @media only screen and (max-width: 480px) {
    padding: 16px;
  }
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.banner {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  max-width: var(--page);
  margin: 0 auto 2px;
  padding: 16px 36px;
  width: 100%;

  @media only screen and (max-width: 960px) {
    padding: 0;
  }
}

.button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  max-width: 188px;
  outline: none;
  transition: opacity 250ms ease;
  width: 100%;

  &:hover {
    opacity: 0.875;
    transition: opacity 250ms ease;
  }

  .text {
    font-weight: 600;
  }

  @media only screen and (max-width: 960px) {
    margin-right: 32px;
  }
}

.menu {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;

  @media only screen and (max-width: 960px) {
    align-items: center;
    background-color: rgba(#0147a2, 0.875);
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: -100%;
    width: 100%;
    z-index: 4;
    transition: top 250ms ease;
  }
}

.list {
  align-items: center;
  display: flex;
  max-width: var(--page);
  margin: 0 auto 2px;
  padding: 0 36px;

  @media only screen and (max-width: 960px) {
    flex-direction: column;
    width: 100%;
  }
}

.parent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  &:hover {
    overflow: initial;

    .parentLink {
      color: #5b5b5b;

      @media only screen and (max-width: 960px) {
        color: rgba(#fff, 0.75);
      }
    }

    .children {
      border-color: #ccc;
      border-top-color: var(--primary-color);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.25px 1.5px, rgba(0, 0, 0, 0.25) 0px 0.25px 1.5px;
      max-height: 400px;
      top: calc(100% - 2px);
      transition: max-height 650ms ease;

      @media only screen and (max-width: 960px) {
        border: none;
        box-shadow: none;
        position: relative;
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 960px) {
    margin: 8px auto;
    width: 100%;
  }
}

.children {
  border: 1px solid transparent;
  border-top: 4px solid transparent;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  left: 0;
  max-height: 0;
  position: absolute;
  top: 100%;
  transition: max-height 650ms ease;
  width: 100%;

  @media only screen and (max-width: 960px) {
    margin-bottom: 12px;
    text-align: center;
  }
}

.parentLink,
.childLink {
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.parentLink {
  padding: 16px;
  text-align: center;

  @media only screen and (max-width: 960px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 22px;
  }
}

.childLink {
  padding: 10px 16px;

  &:not(:first-of-type) {
    border-top: 1px solid #ccc;

    @media only screen and (max-width: 960px) {
      border-top: none;
    }
  }

  &:hover {
    color: var(--primary-color);

    @media only screen and (max-width: 960px) {
      color: rgba(#fff, 0.75);
    }
  }

  @media only screen and (max-width: 960px) {
    color: rgba(#fff, 0.75);
    font-size: 28px;
    padding: 16px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 18px;
  }
}
